
<div class="wrapper wrapper-content animated fadeInRight"  ng-controller="ArticlesController as art">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row m-b-sm m-t-sm">					
			<div class="col-md-10">
				<div class="input-group"><input type="text" placeholder="Zoeken" class="input-sm form-control" ng-model="art.vm.search"> <span class="input-group-btn">
														<button type="button" class="btn btn-sm btn-primary" ng-click="art.getArticles()"> Zoek!</button> </span>
                </div>
			</div>
            <div class="col-md-2">
                <a href="" class="btn btn-primary btn-sm" ng-click="art.addArticle()">Nieuw artikel</a>
            </div>
		</div>
    </div>
    
    <div class="row">
        <article-box ng-repeat="a in data.articles" article="a"></article-box>
    </div>
</div>
