<div class="wrapper wrapper-content animated fadeInRight" ng-controller="CustomersController as cust"> 
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row m-b-sm m-t-sm">					
			<div class="col-md-10">
				<div class="input-group"><input type="text" placeholder="Zoeken" class="input-sm form-control" ng-model="cust.vm.search"> <span class="input-group-btn">
														<button type="button" class="btn btn-sm btn-primary" ng-click="cust.getCustomers()"> Zoek!</button> </span>
                </div>
			</div>
            <div class="col-md-2">
                <a href="" class="btn btn-primary btn-sm" ng-click="cust.addCustomer()">Nieuwe klant</a>
            </div>
		</div>
    </div>        
    <div class="row">
        <customer-box ng-repeat="c in data.customers" customer='c'></customer-box>
    </div>
</div>