<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{ modal.vm.title }}</h4>        
    </div>
    <div class="modal-body">        
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <label>Titel</label> 
                    <input type="text" placeholder="Titel..." class="form-control" ng-model="modal.vm.project.title">
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Omschrijving</label> 
                    <input type="text" placeholder="Omschrijving..." class="form-control" ng-model="modal.vm.project.description">
                </div>               
            </div>
            <div class="row">
                 <div class="col-sm-12">                    
                    <label>Klant</label> 
                    <select class="form-control m-b" name="ddlCustomers" id="ddlCustomers" ng-model="data.selectedCustomerId">
                        <option ng-repeat="c in data.customers" value="{{c.objectId}}">{{c.name}}</option>
                    </select>
                </div>                    
            </div>                     
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="modal.cancel()">Annuleren</button>
        <button type="button" class="btn btn-primary" ng-click="modal.ok()">Opslaan</button>
    </div>
</div>
