<div class="inmodal">
    <div class="modal-header">        
        <h4 class="modal-title">{{ title }}</h4>        
    </div>
    <div class="modal-body">        
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <label>Naam</label> 
                    <input type="text" placeholder="Naam..." class="form-control" ng-model="customer.name">
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>Straat</label> 
                    <input type="text" placeholder="Straat + nummer..." class="form-control" ng-model="customer.street">
                </div>               
            </div>
            <div class="row">
                 <div class="col-sm-6">                    
                    <label>Postcode</label> 
                    <input type="text" placeholder="Postcode..." class="form-control" ng-model="customer.zip">
                </div>
                <div class="col-sm-6">
                    <label>Gemeente</label> 
                    <input type="text" placeholder="Gemeente..." class="form-control" ng-model="customer.city">
                </div>                       
            </div> 
            <div class="row">                                                
                <div class="col-sm-6">
                    <label>Email</label> 
                    <input type="email" placeholder="Email..." class="form-control" ng-model="customer.email">
                </div>
                 <div class="col-sm-6">
                    <label>Telefoon</label> 
                    <input type="text" placeholder="Telefoon..." class="form-control" ng-model="customer.phone">
                </div>
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Sluiten</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Opslaan</button>
    </div>
</div>
