<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ProjectsController as proj"> 
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row m-b-sm m-t-sm">					
			<div class="col-md-10">
				<div class="input-group"><input type="text" placeholder="Zoeken" class="input-sm form-control" ng-model="proj.vm.search"> <span class="input-group-btn">
														<button type="button" class="btn btn-sm btn-primary" ng-click="proj.getProjects()"> Zoek!</button> </span>
                </div>
			</div>
            <div class="col-md-2">
                <a href="" class="btn btn-primary btn-sm" ng-click="proj.addProject()">Nieuw project</a>
            </div>
		</div>
    </div>        
    <div class="row">
        <project-box ng-repeat="p in data.projects" project='p'></project-box>
    </div>
</div>