<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>                           
                    </a>                    
                </div>
                <div class="logo-element">
                    BO
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.customers"><i class="fa fa-users"></i> <span class="nav-label">Klanten</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.articles"><i class="fa fa-database"></i> <span class="nav-label">Artikels</span></a>
            </li>            
            <li ui-sref-active="active">
                <a ui-sref="index.projects"><i class="fa fa-eur"></i> <span class="nav-label">Projecten</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.invoices"><i class="fa fa-file-o"></i> <span class="nav-label">Facturen</span></a>
            </li>
            <!--<li ui-sref-active="active">
                <a ui-sref="index.timeregistration"><i class="fa fa-clock-o"></i> <span class="nav-label">Tijdregistratie</span></a>
            </li>-->
            <li ui-sref-active="active">
                <a ui-sref="index.settings"><i class="fa fa-cogs"></i> <span class="nav-label">Instellingen</span></a>
            </li>            
        </ul>
    </div>
</nav>